@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.primary-btn {
    height: 60px;
    color: white;
    background-color: #FD6E0A;
    border: 0;
    border-radius: 5px;
    padding: 0px 36px;
    font-weight: 400;
    font-size: 20px;

}

.primary-btn:hover {
    transform: scale(1.07);

}

.primary-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.primary-title {
    font-weight: 700;
    font-size: 45px;
}

.primary-subtitle {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin: 0px 0;
}

header {
    background-color: rgba(255, 144, 14, 0.1);
}


/* nav style */
.nav-title {

    font-weight: 700;
    font-size: 45px;
}

.text-primary {
    color: #727272;


}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px 0px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
    font-size: 18px;
    font-weight: 500px;
    border: none;

}
 a{
    
    text-decoration: none;
    color: black;
}


/* banner style */
.ban-container {
    margin: 0px 90px;
    display: flex;
    align-items: center;
}

.banner-text {
    margin: 0px 250px 50px;
    text-align: center;

}

.banner-pic {
    margin: 50px 200px 50px;
    text-align: center;

}

.banner-pic img {
    width: 100%;
    padding-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #131313;
    margin-top: 60px;
}


.banner-desc {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 0px 60px 15px 60px;
}

/* team work  section style start */
main {
    margin: 0px 200px;
}

.team-work {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 60px;
    margin-top: 51px;

}

.team-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 14px;
    column-gap: 14px;
    width: 70%;


}

.team-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.black-of-our {
    color: #131313;
    font-weight: 700;

}

.orange-feature {
    font-weight: 700;
    color: #FF900E;
    ;

}

/* .team-desc {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
} */


/* features description section style start  */
.features-info h2 {
    border-left: 5px solid #FF900E;
    padding-left: 26px;
    margin-top: 0;

}

.features-desc {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    align-items: center;

}

.features-pic img {
    width: 100%;

}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feature {
    margin-top: 10px;
    width: 586px;
    height: 171px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 0 20px 0 20px;
    margin-bottom: 0;
    height: 150px;
    width: 500px;
}

.experience {
    margin-top: 50px;
    text-align: center;


}

.some-fact h2 {
    margin-bottom: 25px;
}

.some-fact p {
    padding-right: 500px;
}

.performances {
    text-align: center;
    margin-bottom: 150px;
}

.performance-list {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 150px;
    gap: 100px;
}

.performances>h1 {
    margin: 30px 0 80px 0;
}

.performances {
    margin-bottom: 0px;
}

.performance {
    border: 3px solid #FF900E;
    padding: 20px;
    height: 100%;
    width: 100%;

}

.performance:hover {
    transform: scale(1.2);
}

.performance img {
    transition: transform 1s linear 0s;
}

.performance:hover img {
    transform: rotate(360deg);
}

/* team-member section style start */


.team-member {
    text-align: center;
    margin-bottom: 150px;
}

.team-member-list {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 100px;
}

.team-members>h1 {
    margin: 30px 0 80px 0;
}

.team-members {
    margin-bottom: 0px;
}

.team-member {
    border: 3px solid #FF900E;
    padding: 30px;
    height: 100%;
    width: 100%;

}

.team-member:hover {
    transform: scale(1.2);
}

.team-member img {

    width: 100%;
}

.team-member p {
    margin: 20px 10px 10px;
    padding: 0px;
}

.team-members h2 {

    text-align: center;
    margin: 0 0 40px 0;
}

/* team-member section style end */

/* our sponsors section start */

.sponsors-text {
    text-align: center;
    padding: 0px 300px;
}

.sponsors-list {
    display: flex;
    gap: 60px;

    justify-content: space-around;
}

.sponsor {
    margin: 40px 0;
}

/* our sponsors section end */

/* footer style start */

.footer {
    margin-top: 50px;
    background-color: #FFF4E7;
    padding: 10px 0;
    text-align: center;
}

/* footer style end */


@media screen and(max-width:576px) {




    .footer {
        margin-top: 50px;
        background-color: #FFF4E7;
        padding: 5px 0;
        text-align: center;
    }
}